* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  text-decoration: none;
}

.contact-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #444242;
}

.go-back {
  margin-left: 15px;
}

.menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 35px;
  margin-right: 8px;
}

.menu span {
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background-color: #FFFFFF;
  margin-bottom: 3px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.container div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 17.5px;
  color: #5B5A5A;
  height: 50px;
}

.container div img {
  margin-right: 19.5px;
}

.container hr {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 17.5px;
  border: 1px solid #E8E8E8;
}

.contacts-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95vw;
}

.contact-footer {
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 100%;
  background-color: #FA9401;
  color: #FFFFFF;
  position: fixed;
  height: 50px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.contact-address {
  height: 50px;
  background-color: #F2F2F2;
  width: 100%;
  margin-left: 0 !important;
}

.contact-address p {
  font-weight: 700;
  font-size: 16px;
  color: #FA9401;
  margin: 15px;
  width: 100%;
}

.menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-header div {
  padding: 5px;
}

@media (max-width: 640px) and (orientation: landscape) {
  body {
    height: 80vh;
  }
  .contact-footer {
    display: none;
  }
}