* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-y: hidden; */
}

.contact-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #444242;
}

.go-back {
  margin-left: 8px;
}

.menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 35px;
  margin-right: 8px;
}

.menu span {
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background-color: #FFFFFF;
  margin-bottom: 3px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  height: 75vh;
}

.container div {
  display: flex;
  margin-left: 10px;
}

.contacts-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.contact-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #FA9401;
}