* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
  font-family: Roboto, sans-serif;
  text-decoration: none;
}

body {
  background-color: #444242;
  height: 100vh;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.menu-idiom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  width: 121.33px;
  height: 40px;
  margin-left: 15px;
  font-weight: 400;
  font-size: 12px;
}

.menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 35px;
  margin-right: 15px;
}

.menu-idiom img {
  width: 24px;
  height: 24px;
  padding: 3px;
}

.menu span {
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background-color: #ffffff;
  margin-bottom: 3px;
}

.div-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
}

.logo {
  height: 100px;
  margin-top: 30px;
}

.div-buttons .btn-search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fa9401;
}

.btn-search img {
  margin-right: 11px;
}

.div-buttons div button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border-color: #fa9401;
  background-color: transparent;
  width: 265px;
  height: 50px;
  color: #ffffff;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}

.div-buttons button img {
  margin-right: 11px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.footer {
  position: fixed;
  height: 50px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.footer img {
  width: 34px;
  height: 34px;
  margin-right: 20px;
}

@media (max-width: 320px) {
  body {
    background-color: #ffb64e;
  }
  .div-buttons .btn-search {
    background-color: #fa9401;
    border-color: #444242;
  }
  .div-buttons div button {
    background-color: #444242;
    border-color: white;
  }
}

@media (max-width: 640px) and (orientation: landscape) {
  .div-buttons {
    display: flex;
    flex-wrap: wrap;
  }
  .div-buttons div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .div-buttons div button {
    margin: 7.5px;
  }

  .footer {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer {
    margin-top: 40vh;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .footer {
    height: 50px;
  }
}
