* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-y: hidden; */
  font-family: Roboto, sans-serif;
  text-decoration: none;
}

body {
  background-color: #444242;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.menu-idiom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 20px;
  width: 121.33px;
  height: 40px;
  margin-left: 8px;
}

.menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 35px;
  margin-right: 8px;
}

.menu-idiom img {
  width: 24px;
  height: 24px;
  padding: 3px;
}

.menu span {
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background-color: #FFFFFF;
  margin-bottom: 3px;
}

.div-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
}

.div-buttons .btn-search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FA9401;
}

.btn-search img {
  margin-right: 11px;
}

.div-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border-color: #FA9401;
  background-color: transparent;
  width: 265px;
  height: 50px;
  color: #FFFFFF;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}

.div-buttons button img {
  margin-right: 11px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.container img {
  margin-top: 1px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.footer img {
  width: 34px;
  height: 34px;
  margin-right: 20px;
}

@media(max-width: 320px) {
  body {
    background-color: #FFB64E;
  }
  .div-buttons .btn-search {
    background-color: #FA9401;
    border-color: #444242;
  }
  .div-buttons button {
    background-color: #444242;
    border-color: white;
  }
  .div-buttons button:focus {
    background-color: #7a2f2f;
    color: #56ac56;
  }
}